02_RestWithAsp-NET5_QuatroVerbos/.vs/RestWithAsp-NET5/DesignTimeBuild/.dtbcache.v2
02_RestWithAsp-NET5_QuatroVerbos/.vs/RestWithAsp-NET5/v16/.suo
02_RestWithAsp-NET5_QuatroVerbos/RestWithAsp-NET5/obj/Debug/net5.0/RestWithAsp-NET5.csprojAssemblyReference.cache
05_RestWithAsp-NET5_QuatroVerbos_Node/backend/.vs/RestWithAsp-NET5/DesignTimeBuild/.dtbcache.v2
05_RestWithAsp-NET5_QuatroVerbos_Node/backend/.vs/RestWithAsp-NET5/v16/.suo
